*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 120%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.37),rgba(0, 0, 0, 0.37)),url(mainimg.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgba(241, 204, 147, 0.664);
    position:absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width:100%;
}
